# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/

# Virtual environment
venv/
env/
ENV/
.venv/
*.env

# Pytest
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Ignore everything in allure_results except the folder itself
allure_results/*
!allure_results/.gitkeep
