# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/

# Virtual environments
venv/
env/
ENV/
.venv/
*.env

# Pytest coverage and reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Allure results
allure_results/.gitkeep

